#customize-previewiframe{background:#fff}
#customize-preview{background:#222}
#toucher{line-height:20px;color:rgba(0,0,0,0.4);height:20px;font-size:.9em;clear:both;margin:.5em 0}
#um_layout_pane a{color:#eee}
#um_layout_pane div{float:left;padding:5px}
#um_layout_pane:hover.label,#um_layout_pane:hovera{color:#fff}
#um_layout_pane:hovera:hover{color:#0074a2}
#um_layout_pane:hover{background:rgba(0,0,0,0.8)}
#um_layout_pane{-webkit-transition:all .2s;transition:all .2s;background:rgba(0,0,0,0.3);width:100px;position:fixed;bottom:-3px;right:64px;padding-left:10px;height:30px;z-index:1000;border-radius:3px}
#umtab li a.active{background:#fff;border-bottom:none;margin:0 10px 0 0}
#umtab li a{color:#111;text-decoration:none;display:block;min-width:90px;text-align:center;padding:0 5px;background:#eee;border:1px solid #ccc;border-bottom:1px solid rgba(0,0,0,0.08);margin:-1px 10px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0}
#umtab li.span{min-width:40%}
#umtab li{float:left;margin:0}
#umtab{line-height:30px;height:30px;font-size:13px;margin:0;padding:0}
.um-col2.right{margin-right:0;width:50%}
.um-col2{width:48%;float:left;margin-right:2%}
.um-dashicons{font:400 20px/1 dashicons !important;height:20px;width:20px;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;transition:all .1s ease-in-out}
.um-debug label{width:160px}
.um-debug p{margin:0}
.um-feat .um-dashicons{width:100px;height:102px;font:400 100px/1 dashicons !important;padding:0}
.um-feat h1{font-size:3em;line-height:1.2em;text-align:center;letter-spacing:-1px;font-weight:300;margin-bottom:1em}
.um-feat h2{font-size:2em;text-align:center;letter-spacing:-1px;font-weight:300;margin-bottom:1em}
.um-feat li:hover .um-dashicons{text-shadow:0 0 16px #fdc;color:#000}
.um-feat li{padding:0 1%;float:left;min-height:200px;text-align:center;width:23%}
.um-header div{float:right;margin:-.3em 1em 0 0;color:rgba(0,0,0,0.4)}
.um-header h2{text-shadow:0 0 3px #fff;float:left}
.um-header:after{clear:both;display:table;content:""}
.um-list .icons{color:#ccc;position:absolute;left:0px}
.um-list .view{line-height:13px;font-size:11px}
.um-list a.del,.err{color:#c33}
.um-list li .um-dashicons{float:left;margin:0 10px 10px 0}
.um-list li i.um-dashicons{margin-top:6px}
.um-list li span.last{padding:0;margin:0}
.um-list li span.res{float:left;padding:0 16px;width:auto;display:inline-block}
.um-list li span{float:right;padding:0 8px;width:auto;line-height:32px;display:inline-block}
.um-list li.noicon{padding-left:0px}
.um-list li:last-child{border-bottom:none;padding-bottom:0}
.um-list li{border-bottom:1px dotted #eee;line-height:20px;padding-left:28px;padding-bottom:.5em;position:relative;clear:both;height:32px}
.um-list span.php:after{color:#f90;content:" ?>"}
.um-list span.php:before{color:#f90;content:"<?php "}
.um-list span.shortcode{width:20%;text-align:center}
.um-list th,.um-list td{width:8%;text-align:center}
.um-list th.label,.um-list td.label{width:25%;text-align:left;background:rgba(1,1,1,.02)}
.um-list th.note,.um-list td.note{font-size:.9em;width:51%;text-align:left;background:rgba(1,1,1,.02)}
.um-list thead th{font-weight:700}
.um-list tr.sep:hover{background:rgba(1,128,218,.4)}
.um-list tr.septh{text-align:left;color:#111}
.um-list tr.sep{background:rgba(1,128,218,.2)}
.um-list tr:hover{background:rgba(1,1,1,0.03)}
.umdd h4{margin-bottom:0}
.umdd p{margin:0}
.umdd{margin-bottom:2em}
.umdl label{float:left;min-width:200px;height:1.5em;font-weight:700;display:inline-block}
.umdl p{line-height:1.5em}
.umplugs .postbox h3{cursor:default}
.umplugs p.submit{text-align:right;margin-right:1%}
.umplugs{display:table;width:100%;clear:both}
.umtab.hide{display:none}
.umtab{border:1px solid #ddd;background:#fff;padding:0 1em 1em 1em;min-height:400px;-webkit-box-shadow:0 -1px 1px 0 rgba(0,0,0,.05);box-shadow:0 -1px 1px 0 rgba(0,0,0,.05)}
.warn{color:#cc3333}
html #toplevel_page_undressme a.menu-top .dashicons:before{-webkit-transform:scale(1.3);transform:scale(1.3)}
html .fina{background:rgba(255,192,64,.04) !important}
html .um-feat hr{width:100%;display:block;clear:both}
ul.feat .feat .css{background:#369;color:#fff}
ul.feat .feat .js{background:#090;color:#fff}
ul.feat .feat span{border-radius:3px;padding:3px 8px;display:inline-block;float:right;margin-left:8px;font-weight:700;background:#999}
ul.feat .meta div.feat{float:right;width:30%;margin:0}
ul.feat .meta h4{float:left;width:70%;margin:0}
ul.feat .meta{margin:1em 0;display:table;width:100%}
ul.feat li{border-top:1px solid #ccc}
ul.feat p{clear:both}