/**
 * undressme - reset.css
 * Rev. 20140305.15
 *
 */

/* build/necolas-normalize.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:0.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type='button'],input[type='reset'],input[type='submit']{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0}
input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto}
input[type='search']{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}


/* build/wp-reset.css */
aside li,aside ul{margin:0;padding:0;list-style-type:none}
aside{font-size:.8em}
aside h1,aside h2,aside h3{font-size:1.1em;font-weight:700}
aside h4,aside h5{font-size:.9em;font-weight:700}
textarea{min-width:98%;display:block}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{opacity:1}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{text-decoration:none}
ul,ol{margin:0;padding:0}
ul li,ol li{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:1em;margin:0;clear:both}
input[type='checkbox'],input[type='radio']{padding:0}
select,input[type='text'],input[type='email'],input[type='url'],input[type='password'],input[type='search']{padding:3px}
textarea{overflow:auto;padding-left:3px;vertical-align:top}
input[type='search']{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
select,input[type='text'],input[type='email'],input[type='url'],input[type='password'],input[type='search'],textarea{color:#333;border:1px solid #ccc;border-radius:3px;font-weight:normal}
input[type='text']:focus,input[type='email']:focus,input[type='url']:focus,input[type='password']:focus,input[type='search']:focus,textarea:focus{color:#111}
.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright{display:inline;float:right;margin-left:1.5em}
.aligncenter{clear:both;display:block;margin:0 auto}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:'';display:table}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
.widget{margin:0 0 1.5em}
.widget select{max-width:100%}
.widget_search .search-submit{display:none}
embed,iframe,object{max-width:100%}
*{-webkit-margin-before:0;-webkit-margin-after:0}


/* build/underscore.css */
body,button,input,textarea{font-family:sans-serif;font-size:16px;line-height:1.5}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
select{font-family:sans-serif;position:relative;top:-1px;padding:.3em .3em .3em .3em;-moz-box-sizing:content-box;box-sizing:content-box;line-height:1}
@-moz-document url-prefix(){select{font-size:13px}
option{line-height:1}
}
a{opacity:.7;text-decoration:none}
a:visited{opacity:.3}
a:hover,a:focus,a:active{opacity:1;text-decoration:underline}
.main-navigation{clear:both;display:block;float:left;width:100%}
.main-navigation ul{list-style:none;margin:0;padding-left:0}
.main-navigation a{display:block;text-decoration:none;min-width:100px;padding:.3em .8em}
.main-navigation li ul{display:none;box-shadow:0 3px 3px rgba(0,0,0,0.2);left:0;position:absolute;z-index:99999;min-width:100px}
.main-navigation ul li{float:left;position:relative}
.main-navigation ul li:hover>ul{display:block}
.main-navigation ul ul ul{left:100%;top:0}
.main-navigation #nav-menu{border:1px solid rgba(0,0,0,0.3)}
.main-navigation ul{background:#fff}
.main-navigation{box-shadow:0 3px 3px rgba(0,0,0,0.2);font-size:14px;line-height:24px}
.menu-toggle{cursor:pointer;display:none}
@media screen and (max-width:600px){.menu-toggle,.main-navigation.toggled .nav-menu{display:block}
.main-navigation ul{display:none}
}
.site-main [class*='navigation']{margin:0 0 1.5em;overflow:hidden}
[class*='navigation'] .nav-previous{float:left;width:50%}
[class*='navigation'] .nav-next{float:right;text-align:right;width:50%}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute !important}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
.byline,.updated{display:none}
.single .byline,.group-blog .byline{display:inline}
.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.blog .format-aside .entry-title,.archive .format-aside .entry-title{display:none}
.comment-content a{word-wrap:break-word}
.bypostauthor{}
.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}
.wp-caption{border:1px solid #ccc;margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*='wp-image-']{display:block;margin:1.2% auto 0;max-width:98%}
.wp-caption-text{text-align:center}
.wp-caption .wp-caption-text{margin:0.8075em 0}
.site-main .gallery{margin-bottom:1.5em}
.gallery-caption{}
.site-main .gallery a img{border:none;height:auto;max-width:90%}
.site-main .gallery dd{margin:0}
.site-main .gallery-columns-4 .gallery-item{}
.site-main .gallery-columns-4 .gallery-item img{}

/* heredoc method */
.entry-content{position:relative;font-size:16px;line-height:1.5rem}
.comment-content{position:relative;font-size:0px;line-height:1.2rem}
.entry-content h1,.comment-content h1{font-size:2em;margin-bottom:0px}
.entry-content h2,.comment-content h2{font-size:1.5em;line-height:1.5rem;margin:0px 0}
.entry-content h3,.comment-content h3{font-size:1.2em;line-height:1.2rem;margin-bottom:0px}
.entry-content h4,.comment-content h4{font-size:1em;line-height:1rem;margin-bottom:0;margin-top:0px}
.entry-content h5,.comment-content h5{font-size:0.9em;line-height:1rem;margin-bottom:0;margin-top:0px}
.entry-content h6,.comment-content h6{font-size:0.75em;line-height:1rem;margin-bottom:0;margin-top:0px}
.entry-content a,.comment-content a{text-decoration:underline}
.entry-content p,.comment-content p{margin-bottom:1.5em}
.entry-content>ol,.comment-content>ol,.entry-content>ul,.comment-content>ul{margin-bottom:1.5em}
.entry-content ol>li,.comment-content ol>li{list-style-type:decimal}
.entry-content ul>li,.comment-content ul>li{list-style-type:square}
.entry-content ol,.comment-content ol,.entry-content dd,.comment-content dd,.entry-content ul,.comment-content ul{padding-left:1.5em}
.entry-content li,.comment-content li{margin-bottom:0.2em}
.entry-content li,.comment-content li,>ol,.entry-content li,.comment-content li,>ul{margin-bottom:0.5em}
.entry-content b,.comment-content b,.entry-content strong,.comment-content strong{font-weight:bold}
.entry-content dfn,.comment-content dfn,.entry-content cite,.comment-content cite,.entry-content em,.comment-content em,.entry-content i,.comment-content i{font-style:italic}
.entry-content blockquote,.comment-content blockquote{margin:0 1.5em;font-size:1.25em;line-height:2rem}
.entry-content address,.comment-content address{margin:0 0 1.5em}
.entry-content pre,.comment-content pre{font-family:'Courier 10 Pitch',Courier,monospace;font-size:0.9em;line-height:1.3em;margin-bottom:1.5em;max-width:100%;overflow:auto;padding:1em}
.entry-content code,.comment-content code,.entry-content kbd,.comment-content kbd,.entry-content tt,.comment-content tt,.entry-content var,.comment-content var{font:15px Monaco,Consolas,'Andale Mono','DejaVu Sans Mono',monospace}
.entry-content abbr,.comment-content abbr,.entry-content acronym,.comment-content acronym{border-bottom:1px dotted #666;cursor:help}
.entry-content mark,.comment-content mark,.entry-content ins,.comment-content ins{background:#fff9c0;text-decoration:none}
.entry-content small,.comment-content small{font-size:75%}
.entry-content big,.comment-content big{font-size:125%}
.entry-content hr,.comment-content hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}
.entry-content dt,.comment-content dt{font-weight:bold}
.entry-content dd,.comment-content dd{margin:0 1.5em 1.5em}
.entry-content figure,.comment-content figure{margin:0}
.entry-content table,.comment-content table{margin:0 0 1.5em;width:100%;border:1px solid rgba(0,0,0,.1)}
.entry-content th,.comment-content th{font-weight:bold;background:rgba(255,255,255,.2)}
.entry-content th,.comment-content th,.entry-content td,.comment-content td{border:1px solid rgba(0,0,0,.1);border-bottom:none;border-right:none;padding:0.2em 0.5em}
.entry-content p img,.comment-content p img{max-width:100%;vertical-align:-25%}
.entry-content td img,.comment-content td img{vertical-align:-50%}


/* build/style.css */
.comments-area{margin:1.5em 0}
.comments-area ol{margin-left:0em}
.comments-area div:not(.comment-content) dd,.comments-area div:not(.comment-content) ul,.comments-area div:not(.comment-content) ol{margin-left:2em}
.comments-area div:not(.comment-content) p{margin:1em 0}
.comment-meta{position:relative}
.comment-form{width:100%}
.comment-form label{display:block}
.comment-form p.form-allowed-tags{font-size:.85em}
.comment-metadata{font-size:.8em}
.site-footer a,.site-header a{opacity:1}
#secondary .widget_search input.search-field{min-width:98%}
#um-crumbs li{float:left}
#um-crumbs li:before{content:'>';padding:0 .5em}
#um-crumbs li:first-child:before{content:'';padding:0 0}
.page_item_has_children>a:after{content:'>';float:right}
.single .feature-image img{max-width:100%}
#um-crumbs,.site-info,.navigation,.entry-meta{font-size:.85em}
.page footer.entry-meta,.single footer.entry-meta{display:table;clear:both;width:100%;margin-bottom:1.5em}
.comments-area ol.children{margin-left:48px}
.comment-content{margin-left:48px}
.comment-author img.photo{float:left;display:block;width:32px;height:32px;top:0;left:0;margin:0 16px 1em 0}
.comment-list>li,.comment-list .children>li,.comment-list li{list-style-type:none}
.comment-list article{padding:8px;margin:.5em 0;border:1px solid rgba(0,0,0,.05);position:relative;border-radius:3px}
.comment-list div.reply{position:absolute;top:8px;left:100%;width:60px;margin-left:-68px}
.comment-list div.reply a{text-align:center;border-radius:3px;line-height:20px;font-size:14px;display:block}
.comment-form p.half{float:left;width:47%;padding-right:3%}
.comment-form p.fill{clear:both;display:table;float:none;width:100%}
.comment-form p.half input,.comment-form p.half textarea{width:100%}
.comment-form p.fill input,.comment-form p.fill textarea{width:97%}
.comment-reply-title small{float:right;margin-right:3%}
.single div.entry-meta,.page div.entry-meta{border-top:1px solid #ccc;margin:.5em 0;padding-top:.3em}
.home article:not(.sticky),.archive article:not(.sticky){border-bottom:1px solid #ccc;padding-bottom:1em;margin-bottom:1.5em}
article.sticky{border:1px solid #ccc;padding:.5em 1em;margin-bottom:1.5em}
.wp-caption-text{font-size:.85em}
span.edit-link{float:right}
h1.entry-title{font-size:1.2em}
.home h1.entry-title,.single h1.entry-title,h1.page-title{font-size:2em;line-height:1em;text-transform:capitalize}
.archive h1.page-title{border-bottom:1px solid #ccc;padding-bottom:.5em;margin-bottom:.3em;text-transform:capitalize}
header,.page-header,article{margin-bottom:1.5em}
footer{margin-top:1em}

