/*
.entry-content{position:relative;font-size:16px;line-height:1.5rem}
.comment-content{position:relative;font-size:14px;line-height:1.2rem}
.consist{margin-bottom:2em}
.entry-content p{margin-bottom:1.5em}
.comment-content p{margin-bottom:0.65em}
.page h1.entry-title,.um-content h1{font-size:3em;margin-bottom:24px}
*/
.um-content h2{font-size:1.5em;line-height:1.5rem;margin:1rem 0}
.um-content h3{font-size:1.2em;line-height:1.2rem;margin:1rem 0}
.um-content h4{font-size:1em;line-height:1rem;margin-bottom:0;margin-top:1rem}
.um-content h5{font-size:0.9em;line-height:1rem;margin-bottom:0;margin-top:1rem}
.um-content h6{font-size:0.8em;font-weight:300;line-height:1rem;margin-bottom:0;text-transform:uppercase;border-top:1px solid #ccc;padding-top:0.5rem;margin-top:1rem}
.um-content a{text-decoration:none}
.um-content a:hover{text-decoration:underline}
.um-content>ol,.um-content>ul{margin-bottom:1.5em}
.um-content ol>li{list-style-type:decimal}
.um-content ul>li{list-style-type:square}
.um-content ol,.um-content dd,.um-content ul{padding-left:1.5em}
.um-content dt,.um-content dd{margin:0}
.um-content li{margin-bottom:0.2em}
.um-content li>ol,.um-content li>ul{margin-bottom:0.5em}
.um-content b,.um-content strong{font-weight:bold}
.um-content dfn,.um-content cite,.um-content em,.um-content i:not[class=icon*]{font-style:italic}
.um-content table{border:1px solid #ccc;font-size:.9em}
.um-content td,.um-content th{border:1px solid #ccc;padding:0.3em 0.5em;vertical-align:top;line-height:1.3em}
.um-content blockquote{margin:0 1.5em;font-size:1.25em;line-height:2rem}
.um-content address{margin:0 0 1.5em}
.um-content pre{font-size:0.8em;font-family:Monaco,Consolas,'Andale Mono','DejaVu Sans Mono',monospace line-height:1.3em;max-width:100%;overflow:auto;margin-bottom:1em}
.um-content code,.um-content kbd,.um-content tt,.um-content var{font:15px Monaco,Consolas,'Andale Mono','DejaVu Sans Mono',monospace}
.um-content abbr,.um-content acronym{border-bottom:1px dotted #666;cursor:help}
.um-content mark,.um-content ins{background:#fff9c0;text-decoration:none}
.um-content small{font-size:75%}
.um-content big{font-size:125%}
.um-content hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}
.um-content dt{font-weight:bold}
.um-content dl{margin-bottom:1.5em}
.um-content figure{margin:0}
.um-content table{margin:0 0 1.5em;width:100%;border:1px solid rgba(0,0,0,.1)}
.um-content th{font-weight:bold;background:rgba(255,255,255,.2)}
.um-content th .um-content td{border:1px solid rgba(0,0,0,.1);border-bottom:none;border-right:none;padding:0.2em 0.5em}
.um-content p img{max-width:100%;vertical-align:-25%}
.um-content td img{vertical-align:-50%}
