@charset "UTF-8";

@font-face {
  font-family: "umi-wp-font";
  src:url("fonts/umi-wp-font.eot");
  src:url("fonts/umi-wp-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/umi-wp-font.woff") format("woff"),
    url("fonts/umi-wp-font.ttf") format("truetype"),
    url("fonts/umi-wp-font.svg#umi-wp-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "umi-wp-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="umi-"]:before,
[class*=" umi-"]:before {
  font-family: "umi-wp-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.umi-pt-post:before {
  content: "a";
}
.umi-pt-posts:before {
  content: "b";
}
.umi-pt-page:before {
  content: "c";
}
.umi-pt-pages:before {
  content: "d";
}
.umi-pt-photo:before {
  content: "e";
}
.umi-pt-slide:before {
  content: "f";
}
.umi-pt-video:before {
  content: "g";
}
.umi-pt-audio:before {
  content: "h";
}
.umi-pt-quote:before {
  content: "i";
}
.umi-pt-feed:before {
  content: "j";
}
.umi-pt-attachment:before {
  content: "k";
}
.umi-pt-any:before {
  content: "m";
}
.umi-pt-link:before {
  content: "l";
}
.umi-to-book:before {
  content: "n";
}
.umi-to-book-open:before {
  content: "o";
}
.umi-to-box:before {
  content: "p";
}
.umi-to-lock:before {
  content: "q";
}
.umi-to-unlock:before {
  content: "r";
}
.umi-to-chat:before {
  content: "s";
}
.umi-to-comment:before {
  content: "t";
}
.umi-to-globe:before {
  content: "u";
}
.umi-to-content:before {
  content: "v";
}
.umi-to-vcard:before {
  content: "w";
}
.umi-to-add-user:before {
  content: "x";
}
.umi-to-users:before {
  content: "y";
}
.umi-to-user:before {
  content: "z";
}
.umi-to-bookmark:before {
  content: "A";
}
.umi-to-bookmarks:before {
  content: "B";
}
.umi-to-tags:before {
  content: "C";
}
.umi-to-more:before {
  content: "D";
}
.umi-to-l:before {
  content: "F";
}
.umi-to-u:before {
  content: "G";
}
.umi-to-d:before {
  content: "H";
}
.umi-to-r:before {
  content: "E";
}
.umi-to-thumbs-up:before {
  content: "J";
}
.umi-to-thumbs-down:before {
  content: "K";
}
.umi-to-tools:before {
  content: "L";
}
.umi-to-pencil:before {
  content: "M";
}
.umi-to-cogs:before {
  content: "I";
}
.umi-to-cog:before {
  content: "N";
}
.umi-yes:before {
  content: "O";
}
.umi-fontawesome-webfont:before {
  content: "O";
}
.umi-no:before {
  content: "P";
}
.umi-cancle-s:before {
  content: "Q";
}
.umi-cancle-o:before {
  content: "R";
}
.umi-warn:before {
  content: "S";
}
.umi-info:before {
  content: "T";
}
.umi-to-calendar:before {
  content: "U";
}
.umi-to-clock:before {
  content: "V";
}
.umi-id-css3:before {
  content: "W";
}
.umi-id-html5:before {
  content: "X";
}
.umi-id-github:before {
  content: "Y";
}
.umi-id-any:before {
  content: "Z";
}
.umi-magnifying-glass:before {
  content: "0";
}
.umi-comment-quotes:before {
  content: "1";
}
.umi-key:before {
  content: "2";
}
.umi-telephone:before {
  content: "3";
}
.umi-arr-l:before {
  content: "4";
}
.umi-arr-r:before {
  content: "5";
}
.umi-arr-u:before {
  content: "6";
}
.umi-arr-d:before {
  content: "7";
}
.umi-arr-gotop:before {
  content: "8";
}
.umi-arr-godown:before {
  content: "9";
}
.umi-rev-r:before {
  content: "!";
}
.umi-rev-l:before {
  content: "\"";
}
.umi-rev-down:before {
  content: "#";
}
.umi-rev-up:before {
  content: "$";
}
.umi-canvas:before {
  content: "%";
}
.umi-youtube:before {
  content: "&";
}
.umi-wordpress-alt:before {
  content: "'";
}
.umi-wordpress:before {
  content: "(";
}
.umi-twitter-alt:before {
  content: ")";
}
.umi-id-w3:before {
  content: "*";
}
.umi-facebook-alt:before {
  content: "+";
}
.umi-download:before {
  content: ",";
}
.umi-upload:before {
  content: "-";
}
.umi-doc-text:before {
  content: ".";
}
.umi-docs:before {
  content: "/";
}
.umi-help-circled:before {
  content: ":";
}
.umi-id-rss:before {
  content: ";";
}
.umi-aquo-r:before {
  content: ">";
}
.umi-aquo-l:before {
  content: "<";
}
.umi-aquo-u:before {
  content: "=";
}
.umi-aquo-d:before {
  content: "?";
}
.umi-bulb:before {
  content: "@";
}
